#!/bin/bash
cd {{ rkn_dir }}/list
wget -N https://antifilter.download/list/ipsum.lst https://antifilter.download/list/subnet.lst
old=$(cat {{ rkn_dir }}/md5.txt);
new=$(cat {{ rkn_dir }}/list/*.lst | md5sum | head -c 32);

if [ "$old" != "$new" ]
then
cat {{ rkn_dir }}/list/ipsum.lst | sed 's_.*_route & reject;_' > /etc/bird/ipsum.txt
cat {{ rkn_dir }}/list/subnet.lst | sed 's_.*_route & reject;_' > /etc/bird/subnet.txt

/usr/sbin/birdc configure;
logger "RKN list reconfigured";
echo $new > {{ rkn_dir }}/md5.txt;
fi
